body {
    padding-top: 40px;
    padding-right: 205px;
    padding-left: 205px;
}

.nav-bar {
    display: block;
    background-color: #472F92;
    height: 90px;
    border: 2px solid #472F92;
    border-radius: 25px;
    position: sticky;
    top: 0;
}


.fa-bar1 {
    width : 35px;
    height : 35px;
    margin-left: 35px;
    margin-top: 25px;
    display: inline;
}

.title1 {
    display: inline;
    color: white;
    margin-left: 35px;

}

.parag1 {
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 190px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.container-subtitle1 {
    margin-top: 15px;
    font-weight: bold;
}

.subtitle1 {
    margin-left: 20px;
}

.p1 {
    margin-left: 20px;
}

.img1 {
    width: 190px;
    height: 190px;
    float: right;
    margin: -60px 10px 0px 0px;
}

.btn1 {
    color: white;
    padding: 12px;
    background-color: #472F92;
    border: 0px;
    border-radius: 4px;
    margin-left: 20px;
}

.parag2 {
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    height: 208px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);;
    
}

.btn1-chick {
    color: white;
    padding: 12px;
    background-color: #472F92;
    border: 0px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 54px;
}